<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="nav">
    <mat-nav-list>
      <mat-list-item routerLink="customer">客户</mat-list-item>
      <mat-list-item routerLink="goods">商品</mat-list-item>
      <mat-list-item routerLink="purchase">出货</mat-list-item>
      <mat-list-item routerLink="receipt">进货</mat-list-item>
      <mat-list-item routerLink="staff">员工</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="content">
    <mat-toolbar class="toolbar">
      <button *ngIf="isLogged()" mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      Demo
    </mat-toolbar>
    <div class="ribbon"></div>
    <div class="main-content">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</mat-sidenav-container>
