<h1 mat-dialog-title>更新员工</h1>
<div mat-dialog-content>
  <mat-form-field class="form-field-full">
    <input matInput required placeholder="名称" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field class="form-field-full">
    <input matInput required type="number" placeholder="电话" [(ngModel)]="data.tele">
  </mat-form-field>
  <mat-form-field class="form-field-full">
    <input matInput required placeholder="职位" [(ngModel)]="data.staff_department">
  </mat-form-field>
  <mat-form-field class="form-field-full">
    <input matInput required placeholder="地址" [(ngModel)]="data.address">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data">Ok</button>
</div>